* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.display-t6 {
    color: rgb(223, 21, 21);
    display: inline-block;
    border: 1px solid red;
}

header {
    background-color: rgb(39, 39, 39);
    padding: 0 32px;
    height: 10vh;
    
    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #FFD000;
}

header a {
    color: #fafafa;
    text-decoration: none;
    margin-left: 12px;
}

.apresentacao {
    padding: 20px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao img {
    width: 160px;
    border-radius: 50%;
    margin-right: 32px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,.4);
}

@media (max-width: 400px) {
    header {
        flex-direction: column;
        height: 15vh;
    }
    .apresentacao {
        flex-direction: column;
    }

    .apresentacao img {
        margin-right: 0;
        margin-bottom: 18px;
    }
}